*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slide-container{
    width: 100%;
    height: 70vh;
    position: relative;
}
.slide-container .slides{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
}
.slide-container .slides .caption{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.181);
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.slide-container .arrow{
    background: rgba(255, 255, 255, 0.349);
    color: gray;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
    cursor: pointer;
    user-select: none;
}
.slide-container .arrow:hover{
    background: white;
    color: rgb(20, 18, 18);
}
.slide-container .arrow.prev{
    left: 10px;
}
.slide-container .arrow.next{
    right: 10px;
}
.indicators{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.indicators .indicator{
    width: 15px;
    height: 15px;
    background: gray;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 50%;
}